@media screen and (max-width:992px) {
    .btn-menu{
        display: block;
    }
    .nav-bar-menu{
        position: fixed;
        width: 100%;
        max-width: 400px;
        background-color:rgba(0,0,0,0.8);
        top: 60px;
        right: 0;
        display: none;
        padding: 20px 30px;
        box-sizing: border-box;
        z-index: 999;
    }
    .nav-bar-menu .nav {
        display: flex;
        flex-direction: column;
    }
    .nav-bar-menu.active{
        display: block;
    }
    .hero-area{
        padding:0;
    }
    .hero-area-img img{
        width: 200px;
    }
    .hero-area-text h1{
        font-size: 30px;
    }
    .btn-main{
        padding: 15px 20px;
        font-size: 16px;
        margin-top:18px;
    }
    .feature-section{
        padding:35px 0;
    }
    .heading{
        margin-bottom: 25px;
    }
    .heading h2{
        font-size: 24px;
    }
    .feature-img img{
        width: 200px;
    }
    .feature-box{
        margin-bottom:0;
    }
    .feature-box h4{
        font-size: 20px;
    }
    .feature-box p{
        font-size: 16px;
        margin-bottom: 8px;
    }
    .promo-details{
        padding:15px;
    }
    .promo-details-img img{
        width: 200px;
    }
    .promo-details-content {
        margin-top: 10px;
    }
    .promo-details-content h2{
        font-size: 24px;
    }
    .promo-details-content p{
        font-size: 16px;
    }
    .feature-list{
        padding: 15px;
    }
    .feature-list-content h4 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .feature-list-content {
        margin-top: 10px;
    }
    
    .feature-list-content p {
        font-size: 16px;
    }
    .feature-list .btn-main{
        margin-top: 0;
    }
    .feature-list-bottom{
        margin-top: 40px;
    }
    .feauture-list-img img{
        width: 250px;
    }
    .gallery-section{
        padding: 25px 0;
    }
    .gallery-img{
        height: 240px;
    }
    .gallery-img img{
       width: 100%;
       height: 100%;
    }
    .call-to-action{
        padding: 40px 0;
    }
    .block h2{
        font-size: 24px;
    }
    .block p{
        font-size: 16px;
    }
    .input-group{
        margin-top: 24px;
    }
    .testimonial-section{
        padding: 20px 0;
    }
    .testimonial-block i{
        font-size: 32px;
    }
    .testimonial-block p{
        font-size: 15px;
    }
    .author-details{
        margin-top: 10px;
    }
    .author-details h4{
        font-size: 18px;
    }
    .author-details span{
        font-size: 12px;
    }
    .btn-mt{
        margin-top: 5px;
    }
 }
 @media screen and (max-width:768px) {
    .hero-area-text,.feature-box,.promo-details-content,
    .feature-list-content{
        text-align: center;
    }
    .feature-list-bottom .feature-list-content:last-child{
        margin-bottom:30px;
    }
    .gallery-img {
        height: 160px;
    }
 }
 @media screen and (min-width:768px){
    .gallery-img {
        height: 230px;
    }
 }
@media screen and (max-width:576px) {
    .hero-area-img img,.feature-img img,.promo-details-img img{
        width: 130px;
    }
    .hero-area-text h1 {
        font-size: 18px;
    }
    .hero-area-text p{
        font-size: 14px;
        margin-bottom: 0;
    }
    .hero-area-text{
        text-align: center;
    }
    .btn-main {
        padding: 13px 5px;
        font-size: 10px;
        margin-top: 5px;
    }
    .feature-section{
        padding: 20px 0;
    }
    .heading h2{
        font-size: 18px;
    }
    .heading{
        margin-bottom: 0;
    }
    .feature-box{
        text-align: center;
    }
    .feature-box h4{
        font-size: 18px;
        margin-bottom:0;
    }
    .feature-box p{
        font-size: 14px;
    }
    .feature-box i{
        font-size: 14px;
        margin-bottom: 4px;
    }
    .promo-details {
        padding: 0px;
    }
    .promo-details-content h2,.block h2{
        font-size: 18px;
    }
    .promo-details-content{
        text-align: center;
    }
    .promo-details-content p,.feature-list-content p{
        font-size: 14px;
        margin-bottom: 0 !important;
    }
    .feauture-list-img img {
        width: 150px;
    }
    .feature-list-content{
        text-align: center;
    }
    .feature-list-bottom .feature-list-content:last-child{
        margin-bottom: 10px;
    }
    .feature-list-content h4{
        font-size:15px;
        margin-bottom: 0;
    }
    .feature-list-bottom {
        margin-top: 8px;
    }
    .gallery-section {
        padding: 0;
    }
    .gallery-img {
        height: 190px;
    }
    .gallery-img img{
        height: 190px;
        width: 170px;
    }
    .call-to-action{
        padding: 20px 0;
    }
    .block p{
        font-size: 14px;
    }
    .input-group{
        margin-top: 0;
    }
    .input-group input[placeholder]{
        font-size: 14px;
    }
    .input-group input{
        max-width:250px;
    }
    .btn-sub{
        font-size:10px;
        padding: 10px 20px;
    }
    .testimonial-block i{
        font-size: 22px;
        margin-bottom: 10px;
    }
    .author-details{
        margin-top: 0;
    }
    .author-details h4{
        font-size: 14px;
    }
    .testimonial-block{
        text-align: center;
    }
    .menu li a {
        font-size: 16px;
    }
    .gallery-section .row{
        margin-right: 10px !important;
        margin-left: 10px !important;
    }
}